body {
    background-color:blanchedalmond;
}
main {
    max-width: 100vw;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%
}
header {
    padding: 10px;
    text-align: center;
}
header h1 {
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
p {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 1400px) {
    header h1 {
        font-size: 50px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 500;
    }
    p {
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
    main {
        max-width: 100vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%
    }
    img {
        width: 80%;
    }
    .object-container {
        height: 300px;
    }
}

@media screen and (max-width: 580px) {
    .object-container {
        height: 150px;
    }
}
.choice {
    background-color: transparent;
    border: none;
}
.object-container {
    display:flex;
    justify-content: space-between;
}
.no-display {
    opacity: 0;
}
.display {
    opacity: 100;
}
.game-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes fadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.animate-in.animate-out{
    animation-delay: 900ms;
    animation: fadeIn 200ms ease-in-out forwards;
}

.animate-out {
    animation: fadeOut 500ms ease-in-out forwards
}

.restart {
    background-color: rgb(255, 237, 216);
    border-radius: 3px;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: black;
    border-width: 1px;
    box-shadow: none;
    width: 100px;
}

.restart:hover {
    background-color: rgb(255, 144, 100);
}

.hidden {
    display: none;
}